.dnd-library-wrapper .editor-item .meta.type-flickrit {
  background-image: url('icons/flickrit.png');
}
.scald-menu .add-buttons .add-flickrit {
  background: url('icons/flickrit-large-inverted.png') 50% 50% no-repeat;
}
.scald-menu .add-buttons .add-flickrit:hover {
  background-image: url('icons/flickrit-large-color.png');
}
